{% extends 'base.html' %}

{% block title %}Add a Club Book{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <h1>Add a New Club Book</h1>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Add</button>
        </form>
    </div>
{% else %}
    <div class="container">
        <h3>Please log in to add club books </h3>
    </div>
{% endif %}

{% endblock %}