{% extends 'base.html' %}

{% block title %}Edit Club Book{% endblock %}

{% block content %}

<h1>Update a Club Book</h1>

{% if user.is_authenticated %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Update</button>
        </form>
    </div>

{% else %}
    <div class="container">
        <h3>Please log in to edit club books </h3>
    </div>
{% endif %}

{% endblock %}